h1{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 100px;
    margin-bottom: -50px;
}
#hand{
    text-align: center;
    font-size: 100px;
    position:relative;
}
.image{
    display:block;

  margin-top: 20px;
}
.box{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
#bark{
    margin:0;
    padding:0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    visibility: hidden;

}
#centerbox{
    display: flex;
    justify-content: center;
}

#button{
    display:block;
    justify-content: center;
    margin:auto;
    height: 50px;
    width: 80px;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top:40px;
}
